
<article>

    <div class="container container-gov">
        <!-- כותרת הדף -->
        <!-- <app-page-header [pageTitle]="title" [descriptionLines]="descriptionLines"></app-page-header> -->
        <!-- הצגת קומפוננטה לפי הראוטינג -->
        <!-- <router-outlet (activate)="onActivate($event)"></router-outlet> sss -->
        <!-- <app-search-table-final></app-search-table-final> -->
        <!-- <app-detection-manifest></app-detection-manifest> =איתור מצהרים -->
        <!-- <app-morning-message></app-morning-message> -->
       <!-- <app-page-header pageTitle="טבלת מסי יבוא מרוכזים" [descriptionLines]="searchTableDescLines"></app-page-header> -->
        <!-- <app-search-table></app-search-table>  -->
        <!-- <app-vendor></app-vendor> -->
        <!-- <app-page-header pageTitle="שאילתת שערי מטבע" [descriptionLines]="currencyDescLines"></app-page-header> -->
        <!-- <app-currency></app-currency> -->
        <app-system-table></app-system-table>
        <!-- <app-business></app-business> -->
    </div>
   

</article>
